h1 {
    color:black;
    text-align: center;
}

.calculator {
    border: solid;
    border-color:blueviolet;
    width: 300px;
    height: 530px;
    margin: auto;
    padding-top: 40px;
    margin-bottom: 0;
}

.screen-area,
.reset-area,
.num-pad {
    gap: 10px;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen-area #display {
    border: solid;
    border-radius: 5%;
    width: 68%;
    margin-bottom: 0.2em;
    border-color: blue;
    border-radius: 5%;
    padding: 0.5em;
    margin-bottom: 0.3em;
}

#display div {
    float: right;
}

#clear,
#delete {
    gap: 10px;
    border: solid;
    border-color: blue;
    border-radius: 5%;
    padding: 0;
    margin-bottom: 0.3em;
}

#clear button,
#delete button {
    font-size: 110%;
    width: 100%;
    height: 100%;
}

#digits div,
#operators div {
   border: solid;
   border-color: blue;
   border-radius: 5%;
   padding: 0;
   margin-bottom: 0.2em;
}

#digits button, 
#operators button {
    font-size: 180%;
    width: 100%;
    height: 100%;
}

#digits {
    gap: 4px;
    display: flex;
    flex-direction: row;
}

#operators {
    display: flex;
    flex-direction: column;
}